// Importing Initial Variables
@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
//@import "node_modules/bulma/sass/utilities/initial-variables";

// Set derived variables

$primary: #fff;
$text: #D0D059;
$danger: #e2472b;

// Import the rest of Bulma

@import "node_modules/bulma/bulma";