.projects {
    /* background: #edf2f4; */
    perspective: 5000px;
    transform-style: preserve-3d;
}

.mycard {
    pointer-events: none;
    border: 10px double #291f69;
    transform: translateZ(0);
    padding: 30px;
    background: rgb(29, 29, 29);
    background-color: #140D45;
    border-radius: 5px;
    width: auto;
    height: 200px;
    margin: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    position: relative;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.288);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* -webkit-font-smoothing: subpixel-antialiased; */
    /* transition: transform 1.2s ease-in-out */
}

.hidden {
    display: none;
}

.mycard .mycard-content {
    margin: auto;
    text-align: center;
    transform-style: preserve-3d;
}

/* .mycard-content .title {
    transform: translateZ(50px);
}

.mycard-content .subtitle {
    transform: translateZ(30px);
} */

a {
    color: #69c6b8;
    pointer-events: auto;
}