@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  /* font-family: 'Rubik Mono One', sans-serif; */
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Varela Round', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.is-background {
  background-color: #140D45;
}

.is-secondary {
  color: #D0D059 !important;
}

.heading {
  color: #D0D059 !important;
}

.title {
  color: #D0D059 !important;
}
